@model List<ConfigurationEntity>

@{
    ViewData["Title"] = "Index";
}

<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@* SignalR Scripts *@

<script type="text/javascript">

    $(document).ready(() => {

        var connection = new signalR.HubConnectionBuilder().withUrl("/signalrhub").build();
        $("#connstatus").text(connection.state);
        connection.start().then(() => {
            $("#connstatus").text(connection.state);
            setInterval(() => {
                connection.invoke("SendConfigurationList");
            }, 1000);
        }).catch((err) => { console.error(err) });

        connection.on("ReceiveConfigurationList", (configurationList) => {
            console.log(configurationList);
            let tablehtml = `<table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        #
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        ApplicationName
                                                    </th>
                                                    <th>
                                                        Type
                                                    </th>
                                                    <th>
                                                        Value
                                                    </th>
                                                    <th>
                                                        IsActive
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>`;
            $.each(configurationList, (index, item) => {
                tablehtml += `<tr>
                                                <td>
                                                    ${item.id}
                                                </td>
                                                <td>
                                                    ${item.name}
                                                </td>
                                                <td>
                                                    ${item.applicationName}
                                                </td>
                                                <td>
                                                    ${item.type}
                                                </td>
                                                <td>
                                                    ${item.value}
                                                </td>
                                                <td>
                                                    ${item.isActive}
                                                </td>
                                                <td>
                                                        <a href="/ConfigurationEntity/Edit/${item.id}">Edit</a>
                                                </td>
                                            </tr>`;
            });
            tablehtml += `</tbody></table>`;
            $("#configurationList").html(tablehtml);
        });
    });

</script>

<div>
    <h1>Configuration Entities</h1>
    <form method="get" asp-action="Index">
        <div class="form-group">
            <input type="text" name="searchTerm" class="form-control" placeholder="Search..." value="@ViewData["searchTerm"]" />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <div id="configurationList"></div>
    <br /> <br />
    <a asp-action="Create">Create New</a>
</div>